/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-inline-size: 1440px;
  min-inline-size: 375px;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--text-color);
  margin: 0 auto;
}

.title-decor {
  color: var(--text-secondary);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.title {
  color: var(--title-color-secondary);
  font-size: 18px;
}

.title-decor-2 {
  color: var(--text-secondary);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}
