/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --paddingSM: 10px;
  --paddingMD: 20px;
  --gap: 20px;
  --gap-2: 10px;
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --text-secondary: var(--bg-color);
  --accent-hover: rgba(255, 0, 112, 0.40);
  --bgc-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --title-color-secondary: var(--accent-color);
  --title-shadow: var(--accent-color);
  --button-border-color: rgba(255, 0, 112, 0.40);
}